<html>
<head>
<title> Пост </title>
<link rel="stylesheet" href="/public/style/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color:#ffffcc">
<br / >
<h1 align="center" style="color:#ff9999"> <%= page.title %> </p>
<h1 align="center">ID сторінки: <%= page.id %></h1>
<p align="center">
  <%= page.text %>
</p>
<hr align="center"  width="50%" size="3" color="cc99cc"/ >
<a style="width: 10%; margin-left: 47%; margin-right: 47%;" href="/"><input type="button" value="Головна" ></a>
</body>
</html>